
.wrapper {

  width: 654px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}


.product-img {
  float: left;
  height: 420px;
  width: 327px;


}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  width: 327px;
}

.product-text h1 {
  padding-top: 20px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: 'Bentham', serif;
}

.product-text h2 {
  margin: 10px 10px 20px 15px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
  background: #5a5072;
  border-radius: 30px;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
}

.product-text p {
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}



.iconAdd {
  position: absolute;
  top: 38%;
  font-size: 20px;
  margin: 0 0 0 3px;
  color: rgb(114, 113, 109);
}

.iconPh {
  position: absolute;
  top: 47%;
  font-size: 20px;
  margin: 0 0 0 3px;
  color: rgb(114, 113, 109);
}

.iconDesc {
  position: absolute;
  top: 29%;
  font-size: 20px;
  margin: 0 0 0 3px;
  color: rgb(114, 113, 109);
}





/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #acacb3;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin: 1rem 0 0 5.4rem;

}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.devision {
  margin: 30px 30px;
}

.imgUser {
  display: flex;
  box-shadow: 0px 14px 32px 0px rgba(24, 21, 21, 0.15);
  height: 60px;

}

.contComent {
  box-shadow: 0px 14px 32px 0px rgba(15, 14, 14, 0.15);
}

.date {
  font-size: 11px
}

.comment-text {
  font-size: 12px
}

.fs-12 {
  font-size: 12px
}

.shadow-none {
  box-shadow: none
}

.name {
  color: #007bff
}

.cursor:hover {
  color: blue
}

.cursor {
  cursor: pointer
}

.textarea {
  resize: none
}


.round{
  width: 35px;
  height: 35px;
}





.boxBorder{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
margin: 10px;}